@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



/* .new{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

/* .new {
  font-family: "BBH Bogle", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

/* 
.new {
  color: white;
font-size: 800%;
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.img-container{
 width: 100%;
    height: 800px;
    background-image: url('../image/3.jpg');
    background-size: cover; 
     background-position: center;
    background-repeat: no-repeat; 
 
}

p{
  color: white;
} */


/* Profile section */
.profile-section {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Background image */
.profile-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.profile-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* Dark overlay on image */
.profile-bg::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

/* Content */
.profile-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    z-index: 2;
    color: rgb(250, 246, 246);
    max-width: 600px;
}

.profile-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.1;
}

.profile-content p {
    font-size: 1.2rem;
    line-height: 1.7;
    opacity: 0.95;
}
 
