@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* Profile section */
.profile-section {
     position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden; 

}


/* Background image */
.profile-bg {
  width: 100%;
    height: 1000px;
    background-image: url('../image/11.jpeg');
    background-size: cover; 
     background-position: center;
    background-repeat: no-repeat;  
    
}


.profile-bg img {
    width: 100%;
    height: 0%;
    object-fit: cover;
    /* display: block; */
}

/* Dark overlay on image */
.profile-bg::after {
    content: '';
    /* position: absolute; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(5, 5, 5, 0.4);
}

/* Content */
.profile-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    z-index: 2;
    color: rgb(250, 246, 246);
    max-width: 600px;
}

.profile-content h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 30px;
    line-height: 1.1;
}

.profile-content p {
    font-size: 1.2rem;
    line-height: 1.7;
    opacity: 0.95;
}
 


