body {
 /* background: 
    linear-gradient(rgba(0, 0, 0, 0.85), rgba(0,0,0,0.85)); 
  
background-image: 
     url("../image/bg.jpg") center / cover no-repeat fixed;
     scroll-behavior: smooth;  */
   
    
}


  
html, body {
  height: 100%;
  margin: 0;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);

}

#stars, #stars2, #stars3 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: -1;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    100px 200px #fff,
    300px 400px #fff,
    500px 800px #fff,
    700px 1200px #fff;
  animation: animStar 50s linear infinite;
}

#stars2 {
  width: 2px;
  height: 2px;
  box-shadow:
    200px 300px #fff,
    600px 700px #fff,
    900px 1000px #fff;
  animation: animStar 100s linear infinite;
}

#stars3 {
  width: 3px;
  height: 3px;
  box-shadow:
    400px 500px #fff,
    800px 900px #fff;
  animation: animStar 150s linear infinite;
}

@keyframes animStar {
  from { transform: translateY(0); }
  to { transform: translateY(-2000px); }
}


